@import "tailwindcss";

@theme {
  --color-light: #f7f6fb;
  --color-dark: #121212;

  --color-dark-primary: #a8a5ff;
  --color-dark-secondary: #403e6a;

  --color-light-primary: #615dd4;
  --color-light-secondary: #e0dfff;
}

@layer base {
  html,
  body {
    @apply min-h-screen m-0 transition-colors duration-300;
  }

  /* Light Mode */
  body {
    @apply bg-light text-gray-900;
  }

  /* Dark Mode */
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-dark text-gray-100;
    }
  }
}
